name: CML

on:
  push:
    branches:
      - '*'  # Runs on all branches
  schedule:
    - cron: '45 13 * * *'  # Runs every day at 2pm UTC
  workflow_dispatch:
jobs:
  data-engineering-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.9"
          cache: "poetry"
      - name: Install dependencies
        run: poetry install --no-root
      - name: Run Data Engineering Pipeline
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-central-1
        run: |
          poetry run dvc repro gamelog_cleaning_and_transformation schedule_cleaning_and_transformation -f
          aws s3 cp ./pipeline_output/gamelog_cleaned/gamelog_2026_all.csv s3://foreshadownba/data-engineering-pipeline-output/gamelogs/ --profile=ipfy
          aws s3 cp ./pipeline_output/schedule_cleaned/schedule_2026_all.csv s3://foreshadownba/data-engineering-pipeline-output/schedules/ --profile=ipfy